<!-- -*- xml -*-  -->

<launch>
  <!-- Which robot are we controlling ? -->
  <arg name="robot" default="hrp2_14" />

  <!-- We are in simulation ! -->
  <arg name="simulation" default="true" />

  <!-- mode should be dg_with_stabilizer -->
  <arg name="mode" default="dg_with_stabilizer" />

  <!-- Load robot model and machine description -->
  <include file="$(find hrp2_bringup)/launch/openhrp_bridge.launch">
  </include>

  <!-- Initialize the SoT -->
  <node pkg="hrp2_bike" type="launcher" name="launcher">
    <param name="~simulation" value="$(arg simulation)" />
  </node>


</launch>
